*{
    margin: 0px;
    padding :0;
}
.container{
    width: 100%;
    height: 87vh;
    background-color: maroon;
    display:flex;
    justify-content:center;
    align-items:center;
}
.weathercontainer{
    color: white;
    text-align: center;
}
.tempreture{
    font-size: 4.5rem;
}
.city{
   font-size: 2rem;
}
.TimeandDate{
    font-size: 1.5rem;
}
.Emoji img{
    width: 64px; 
    height: 64px;
    border-radius: none; 
    margin-left:60px;
    object-fit: cover; 
    display: inline-block;
    align-items: center;
}
.Emoji h2{
    font-family:monospace;
    display: inline-block;
    margin-left:73px;
    font-size:small;
}
nav{
    height:100px;
    margin :5 rem;
}
.search_area{
    padding: 0.9em 0;
    outline:none;
    border:none;
    color:black;
    background-color:transparent;
    font-size: 1.1rem;
    border-bottom:2px soild white;
    font-size: 20px;
}
nav form button{
    padding:0.5rem;
    background-color: rgb(153, 11, 18);
    color:white;
    margin-top:1rem;
    font-size:1.1rem;
    outline:none;
    border:none;
    cursor:pointer;
    text-align: end;
}
.Emoji{
    width: 50px;  
    height: 50px;  
    margin: 0.5rem;
    margin-left: 50px;
}
    
